/* Wrapper */
$wraper-max-width: 1280px;
$wraper-narrow--max-width: 848px;

/* Grid */
$grid-space: 4px;
$padding-default: 20px;
$margin-bottom-default: 30px;
$width-content-hero: 680px;
$width-content-section: 640px;
$width-content-blog: 1080px;

/* Header */
$header-height: 140px;
$row-bigger-max-width: 1440px;
$row-content-bigger-max-width: 1220px;
$row-content-bigger-max-width-expand: 1255px;
$row-content-comunidad-max-width: 1180px;

$row-bigger-max-width-stretch: 945px;

$logo-margin: 15px;
$logo-height: $header-height - ($logo-margin * 2);

/* Menu */
$menu-height: 60px;
$menu-height-item: $menu-height - 25;
$menu-item-size: 11px;
$menu-fixed-height: 97px;

/* Buttons */
$button-height: 45px;
$button-padding: 20px;
$button-height--big: 60px;

/* Borders */
$border-default: 22px;
$border-tiny: 5px;
$border-round: 50%;

/* Hero */
$hero-height: 768px;

/* Forms */
$input-height: 32px;
$input-height-tiny: 54px;
$message-icon-size: 40px;
$form-width: 380px;
$form-height: $hero-height + $header-height + $menu-height;
$form-header-height: 74px;

/* Footer */
$footer-height: 145px;

/* Arrows */
$arrow-width: 63px;

/* Card */
$card-width: 416px;
$card-width-horizontal: 640px;
$card-width-large: 348px;
$card-width-big: 864px;
$card-width-noticia: 304px;

// =============================
//   Tablet variables
//==============================

$row-tablet-bigger-max-width-stretch: 700px;

/* Header */
$tablet-header-height: 100px;
$tablet-action-item-size: 100px;

/* Menu */
$tablet-menu-height: 100px;

/* Buttons */
$tablet-button-height: 45px;
$tablet-button-padding: 20px;

/* Hero */
$tablet-hero-height: 670px;

$tablet-header-article-height: 500px;

// =============================
//   Mobile variables
//==============================

/* Font size */
$mobile-base-font-size: 14px;

/* Header */
$mobile-header-height: 70px;

$mobile-action-item-size: 70px;

$mobile-header-article-height: 318px;
$mobile-header-historia-height: 318px;

/* Menu */
$mobile-menu-height: 70px;

$mobile-submenu-height: 55px;

/* Buttons */
$mobile-button-height: 50px;

/* Forms */
$mobile-message-icon-size: 30px;
$mobile-input-height: 50px;

/* Search */
$mobile-search-faq-height: 50px;

/* Hero */
$mobile-hero-height: 428px;

/* Carousel */
$mobile-carousel-height: 350px;

/* Arrows */
$mobile-arrow-width: 44px;
