/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: theme-color();
  text-decoration: none;
  @include transition(0.3s, ease-in-out);

  @include pixel-hover-full {
    color: lighten(theme-color(), 10%);
    text-decoration: none;

    @include transition(0.3s, ease-in-out);
  }
}
