// components/_components.menu.scss

:root {
  --menu-color: var(--color-black);
  --menu-item-hover-bg-color: var(--color-gray-600);
  --menu-item-gap: #{space-mult(3)};
  --menu-height: var(--header-logo-height);
  --menu-item-border-radius: var(--border-tiny);
  @include mq(tablet-wide) {
    --menu-color: var(--font-color-primary);
  }
}

.c-menu {
  color: var(--menu-color);

  @include e(item) {
    font-weight: var(--font-weight-bold);
    align-items: center;
    color: currentColor;
    display: inline-flex;
    height: 100%;
    margin-left: var(--menu-item-gap);
    padding: 15px space-mult(4);

    &:first-child {
      margin-left: 0;
    }
    i {
      margin-right: space-mult(2);
    }

    @include pixel-hover-full {
      color: var(--color-gray-500);
    }

    @include mq(tablet) {
      width: 100%;
      margin-left: 0;
      max-height: space-mult(12);
      margin-bottom: space-mult(3);
    }

    @include m(button) {
      width: 145px;
      min-width: auto;
      justify-content: center;

      @include create-button(var(--color-primary), var(--color-white));
    }
  }

  @include mq(tablet) {
    position: fixed;
    z-index: var(--zindex-overlay);
    background-color: var(--color-white);
    width: 100%;
    left: 0;
    top: 0;
    padding: var(--header-height) var(--padding-default);
    height: 100vh;
    overflow-y: scroll;
    pointer-events: none;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--menu-color);

    @include transform(scale(0.85));
    @include opacity(0);
    @include transition;

    &.show {
      pointer-events: auto;

      @include transform(scale(1));
      @include opacity(1);
      @include transition;
    }

    .c-menu__item {
      &.active {
        color: var(--color-white);
        background-color: get-color(--color-secondary, 100);
      }
    }

    .c-menu__item--button {
      @include create-button(var(--color-secondary));
    }
  }
}
