.c-box-article {
  width: 100%;
  padding: var(--space-lg) 0;

  @include m(bg) {
    background-color: var(--color-gold-200);
  }

  @include e(container) {
    width: 100%;
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    @include e(title) {
      width: 40%;

      @include e(titulo) {
        font-size: 4.6rem;
        font-weight: 600;

        @include m(bigger) {
          font-size: 5rem;
          font-weight: 600;
        }
      }
      @include e(sub) {
        font-size: 2.6rem;
        font-weight: bold;
      }
    }

    @include e(text) {
      width: 60%;
    }

    @include e(img) {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
