
// styles/components/_components.footer.scss

:root {
  --footer-logo-height: 50px;
  --footer-space-common: #{space-mult(6)};
  --footer-menu-item-space: #{space-mult(3)};
  @include mq(tablet-wide) {
    --footer-space-common: #{space-mult(5)};
  }
}

.c-footer {
  background-color: var(--color-gray-900);
  color: var(--color-white);
  font-size: 16px;
  position: relative;
  padding: 0 var(--padding-default);

  @include e(logo) {
    height: 100%;
    max-height: var(--footer-logo-height);

    img {
      height: 100%;
    }
  }

  @include e(container) {
    height: 100%;
    padding-top: var(--footer-space-common);
    padding-bottom: var(--footer-space-common);

    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);

    @include mq(tablet-wide) {
      @include flex-direction(column);
      @include align-items(flex-start);

      > * {
        margin-bottom: var(--footer-space-common);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @include m(bottom) {
      border-top: 1px solid var(--color-gray-700);
      font-size: var(--font-xs);
    }
  }

  @include e(menu) {
    > * {
      color: var(--color-white-700);
      margin-left: var(--footer-menu-item-space);

      &:first-of-type {
        margin-left: 0;
      }

      &.with-separator {
        border-left: 1px solid var(--color-white-700);
        padding-left: calc(var(--footer-menu-item-space) * 2);
        margin-left: calc(var(--footer-menu-item-space) * 2);
      }

      @include pixel-hover-full {
        color: var(--color-white);
      }
    }

    @include m(main) {
      @include mq(tablet-wide) {
        > * {
          margin-left: 0;
          margin-bottom: var(--footer-menu-item-space);
          width: 100%;
          display: block;

          &.with-separator {
            margin-left: 0;
            padding-left: 0;
            border: 0;
            display: inline-block;
            width: initial;
            margin-top: calc(var(--footer-menu-item-space) * 2);

            + * {
              display: inline-block;
              margin-bottom: 0;
              margin-left: var(--footer-menu-item-space);
              width: initial;
              margin-top: calc(var(--footer-menu-item-space) * 2);
            }
          }
        }
      }
    }
  }
}
