.c-admin-welcome-panel {
  position: relative;
  overflow: auto;
  margin: 16px 0;
  padding: 0 0 50px;
  background: transparent;
  border: 0;
  box-shadow: none;
  font-size: 13px;
  line-height: 2.1em;

  @include e(welcome) {
    background: #fff;
    height: 100px;
    width: 100%;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
  }

  @include e(content) {
    margin: 0 auto;
    max-width: 1678px;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(flex-start);
    @include justify-content(center);
  }

  @include e(icon) {
    max-width: 75px;
    margin: 0 20px 0 10px;
  }

  @include e(title) {
    margin: 0;
    font-size: 25px !important;
  }

  @include e(title-user) {
    color: $color-admin-secondary;
  }

  @include e(copy) {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
  }

  @include e(column-container) {
    margin: 30px 0 0;
    width: 100%;
    @include flexbox();
    @include flex-direction(row);
    @include box-sizing(border-box);

    @include mq(tablet) {
      margin: 15px 0 0;
      @include flex-direction(column);
    }

    @include e(column) {
      background: #fff;
      box-shadow: 0 4px 12px 0 rgba(115, 143, 147, 0.3);
      width: calc((100% - 120px) / 2);
      height: 260px;
      margin: 30px;
      text-align: left;
      padding: 30px;

      @include mq(tablet) {
        width: calc((100% - 60px));
        margin: 15px 0;
      }

      h5 {
        font-size: 0.83em;
        margin: 1.67em 0;
        font-weight: 600;
      }

      h3 {
          font-size: 26px;
          line-height: 1.2;
          font-weight: 700;
          margin-top: 0;
          margin-bottom: 15px;
          color: #39424e;
      }

      p {
        color: #738f93;
        letter-spacing: 0;
        font-size: 13px;
        line-height: 1.5;
      }

      .o-button {
        margin-top: 20px;

        @include mq(tablet) {
          max-width: 60%;
        }
      }
    }
  }
}
