@media screen and (min-width: 782px) {
  .admin-menu-h #wpcontent,
  .admin-menu-h #wpfooter {
    margin-left: 0 !important;
  }
  .admin-menu-h #adminmenu,
  .admin-menu-h #adminmenuback,
  .admin-menu-h #adminmenuwrap {
    width: 100% !important;
    margin: 0;
  }
  .admin-menu-h #adminmenumain {
    height: 36px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.15);
  }
  .admin-menu-h #adminmenuwrap,
  .admin-menu-h #adminmenuback {
    position: fixed !important;
    top: 50px !important;
    bottom: auto !important;
  }
  .admin-menu-h #adminmenu > li {
    display: block;
    width: auto !important;
    float: left;
  }
  .admin-menu-h #adminmenu > li::after,
  .admin-menu-h #adminmenu > li > a::after {
    display: none !important;
  }
  .admin-menu-h #adminmenu > li .wp-submenu {
    position: absolute !important;
    top: -1000em !important;
    margin-top: 0 !important;
  }
  .admin-menu-h #adminmenu > li:hover > a,
  .admin-menu-h #adminmenu > li:focus > a,
  .admin-menu-h #adminmenu > li:active > a {
    color: #fff;
  }
  .admin-menu-h #adminmenu > li:hover .wp-submenu,
  .admin-menu-h #adminmenu > li:focus .wp-submenu,
  .admin-menu-h #adminmenu > li:active .wp-submenu {
    top: 100% !important;
    left: 0 !important;
  }
  .admin-menu-h #collapse-menu {
    display: inline-block;
  }
  .admin-menu-h #collapse-menu div {
    height: 14px;
  }
  .admin-menu-h #collapse-menu span {
    display: none;
  }
  .admin-menu-h #adminmenu div.wp-menu-name {
    white-space: nowrap;
    display: inline-block;
    padding-right: 8px;
  }
  .admin-menu-h.folded #adminmenu div.wp-menu-name {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    margin-top: -4px;
  }
  .admin-menu-h.folded #adminmenu div.wp-menu-image {
    padding-bottom: 0;
  }
  .admin-menu-h.folded #adminmenumain {
    height: 68px;
  }
  .admin-menu-h.folded .edit-post-header {
    top: 118px;
  }
  .admin-menu-h.folded .edit-post-sidebar {
    top: 174px;
  }
  .admin-menu-h .wp-menu-arrow {
    display: none;
  }
  .admin-menu-h .edit-post-header {
    left: 0 !important;
    top: 86px;
  }
  .admin-menu-h .components-notice-list {
    left: 0 !important;
  }
  .admin-menu-h .edit-post-sidebar {
    top: 142px;
  }
}

@media (max-width: 960px) and (min-width: 782px) {
  .admin-menu-h.auto-fold #adminmenu div.wp-menu-name {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    margin-top: -4px;
  }
  .admin-menu-h.auto-fold #adminmenu div.wp-menu-image {
    padding-bottom: 0;
  }
  .admin-menu-h.auto-fold #adminmenumain {
    height: 68px;
  }
}
