.o-card {
  width: 100%;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);

  @include e(item) {
    width: 22%;
  }

  @include e(img) {
      height: 200px;
      overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  @include e(texto) {
    padding: space-mult(4);
  }
  @include e(title) {
    font-weight: 600;
  }

  @include e(txt) {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: justify;
  }
}
