.o-icon {
  width: 100%;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);

  @include e(item) {
    width: 25%;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-gold);
      cursor: pointer;
    }
  }

  @include e(title) {
    font-family: var(--font-family-secondary);
    font-size: var(--font-lg);
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-top: 2rem;
  }
}
