
// styles/objects/_objects.video.scss

:root {
  --video-player-height: 400px;
  --video-player-color-controls: var(--color-gold);
  --video-player-color-progress: var(--color-gold);
  --video-player-color-progress-line: var(--color-secondary);

  @include mq(tablet) {
    --video-player-height: 264px;
  }
}

.o-video-player {
  position: relative;
  width: 100%;
  height: var(--video-player-height);
  overflow: hidden;

  @include e(video) {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    -o-object-position: center center;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include e(controls) {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    left: 20px;
    bottom: 15px;
    height: 20px;
    @include flexbox;
    @include align-items(center);
    @include transform(scale(0.8));

    @include mq(tablet) {
      left: 20px;
    }

    & > div {
      cursor: pointer;

      @include pixel-hover-full {
        color: rgba(get-color-from-map(var(--color-gold)), 0.7);
      }
    }

    @include e(icon) {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      font-style: normal;
      color: var(--video-player-color-controls);
      text-align: left;
      text-indent: -9999px;
      direction: ltr;
      box-sizing: border-box;
      transition: all 0.2s;

      @include m(play) {
        width: 0;
        height: 0;
        border-width: 10px 0 10px 16px;
        border-style: solid;
        border-top-color: transparent;
        border-bottom-color: transparent;
        margin: 7px 9px;
      }

      @include m(pause) {
        width: 6px;
        height: 20px;
        margin: 7px 20px 7px 8px;
        box-shadow: inset 0 0 0 32px, 12px 0 0 0;
      }

      @include m(stop) {
        width: 0;
        height: 0;
        border: 10px solid;
        margin: 7px;
      }

      @include m(sound) {
        margin: 4px 16px 4px 5px;
        width: 0;
        height: 0;
        border: 7px solid;
        border-left: none;
        border-top-color: transparent;
        border-bottom-color: transparent;
        padding: 4px 3px;
        box-shadow: inset 4px 0;

        &::after {
          content: '';
          pointer-events: none;
        }

        &::before {
          content: '';
          pointer-events: none;
          border-style: double;
          border-width: 6px;
          left: -2px;
          width: 26px;
          height: 26px;
          position: absolute;
          border-radius: 50%;
          border-top-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }

      @include m(mute) {
        width: 0;
        height: 0;
        border: 7px solid;
        border-left: none;
        border-top-color: transparent;
        border-bottom-color: transparent;
        padding: 4px 3px;
        box-shadow: inset 4px 0;
        margin: 4px 16px 4px 5px;

        &::before {
          -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
          width: 10px;
          height: 2px;
          left: 17px;
          box-shadow: inset 0 0 0 32px;
          position: absolute;
          top: 50%;
          content: '';
        }

        &::after {
          content: '';
          pointer-events: none;
          -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
          height: 10px;
          width: 2px;
          left: 21px;
          box-shadow: inset 0 0 0 32px;
          position: absolute;
          top: 50%;
        }
      }
    }
  }

  @include e(controls-center) {
    z-index: 1;
    position: relative;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
    pointer-events: none;

    & .js-pixelplayer-play {
      position: relative;
      z-index: 1;
      pointer-events: initial;
      height: 112px;
      width: 112px;
      background: var(--color-white);
      @include opacity(0.8);
      border-radius: 50%;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      cursor: pointer;
      @include transition();

      @include mq(tablet) {
        height: 80px;
        width: 80px;
      }

      &:hover {
        background: var(--color-secondary);
        color: var(--color-white);
        @include transition();
      }
    }
  }

  @include e(progress) {
    background-color: var(--video-player-color-progress);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    bottom: 20px;
    display: inline-block;
    height: 2px;
    position: absolute;
    right: 40px;
    width: 80%;

    @include mq(tablet) {
      right: 20px;
    }

    @include e(line) {
      background-color: var(--video-player-color-progress-line);
      -webkit-transform-origin: 0 50%;
      height: 4px;
      margin-top: -1px;
      position: relative;
      transform-origin: 0 50%;
      @include transition(transform 1s linear);
      width: 0;
    }
  }

  @include e(overlay-poster) {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    & img {
      @include object-fit();
    }
  }
}
