    .wpcf7-form {
        $md-checkbox-margin: 0;
        $md-checkbox-checked-color: $color-primary-alt;
        $md-checkbox-border-color: $color-primary-alt;

        $md-checkbox-size: 18px;
        $md-checkbox-padding: 4px;

        $md-checkmark-width: 2px;
        $md-checkmark-color: #fff;

        .md-checkbox {
            position: relative;
            margin: $md-checkbox-margin;
            color: $white;
            cursor: pointer;
            margin-bottom: 7px;

            &.no-margin-bottom {
                margin-bottom: 0;
            }

            + .parsley-errors-list {
                margin-top: 0;
                margin-bottom: 0;
                &.filled {
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }

            @include mq(tablet-wide) {
                margin: 10px;
            }

            label {
                position: relative;
                display: inline !important;
                cursor: pointer;
                pointer-events: auto;
                left: 15px;
                top: -2px;
                @include user-no-select;
                @include font(12px, $font-family-secondary, #6B726F, $font-weight-regular, 18px);

                a {
                    color: #6B726F;
                    text-decoration: underline;
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: -33px;
                    top: -3px;
                }

                &::before {
                // box
                width: $md-checkbox-size;
                height: $md-checkbox-size;
                background: #F6F6F6;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                cursor: pointer;
                transition: background 0.3s;
            }
        }

        input[type="checkbox"] {
            outline: 0;
            margin-right: 0;
            cursor: pointer;
            @include opacity(0);

            &:checked {
                + label::before {
                    background: #F6F6F6;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                }
                + label::after {
                    $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;
                    transform: rotate(-45deg);
                    top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/6;
                    left: -28px;
                    width: $md-checkmark-size;
                    height: $md-checkmark-size / 2;
                    border: $md-checkmark-width solid #000;
                    border-top-style: none;
                    border-right-style: none;
                }
            }
        }

        > div {
            display: -webkit-box !important;
            display: -webkit-flex !important;
            display: -moz-flex !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }

    .col {
        @include mq(mobile-wide) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// .wpcf7-validation-errors,
// .ajax-loader,
.wpcf7-response-output {
    border-bottom: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    @include font(16px, $font-family-primary, $color-font-primary, $font-weight-regular, 24px);
    letter-spacing: -0.3px;
    padding: 1em !important;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
    border-top: 1px solid $color-primary !important;
}

div.wpcf7-spam-blocked {
    border-top: 1px solid $color-primary !important;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border-top: 1px solid $color-primary !important;
}

.wpcf7-list-item {
    margin: 0 !important;
}

//Error messages
.wpcf7-not-valid-tip {
    font-size: 12px !important;
    margin-top: 8px;
    text-align: left;
}
