// Font weights

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: bold;
$font-weight-extrabold: 800;
$font-weight-black: 900;

@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans', normal, $font-weight-regular);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-SemiBold', normal, $font-weight-semibold);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-ThinItalic', italic, $font-weight-thin);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-Italic', italic, $font-weight-regular);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-ExtraLightItalic', italic, $font-weight-extralight);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-Light', normal, $font-weight-light);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-ExtraLight', normal, $font-weight-extralight);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-Thin', normal, $font-weight-thin);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-SemiBoldItalic', italic, $font-weight-semibold);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-BoldItalic', italic, $font-weight-bold);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-LightItalic', italic, $font-weight-light);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-MediumItalic', italic, $font-weight-medium);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-Medium', normal, $font-weight-medium);
@include fontFace('IBM Plex Sans', '#{$url-fonts}IBMPlexSans-Bold', normal, $font-weight-bold);
@include fontFace('Stolzl', '#{$url-fonts}hinted-subset-Stolzl-Bold', normal, $font-weight-bold);

// Font variables
$font-family-primary: "Stolzl", sans-serif;
$font-family-secondary: "IBM Plex Sans";
$font-family-third: "IBM Plex Sans";

$base-font-size: 18px;
$mobile-base-font-size: 14px;
$base-line: 28px;
$browser-context: 16;

$color-font-primary: $black;
$color-font-secondary: $color-secondary;
$color-font-tertiary: $color-secondary;
