/* =========================
   Footer styles
========================== */

.u-back-bg {
  background-color: $cod-gray;
}

.c-footer {
  padding: 122px 32px;

  @include mq-habitant(tablet-mobile) {
    padding: 64px 16px 88px;
    margin-left: -16px;
    margin-right: -16px;
    width: calc(100% + 32px);
  }

  @include e(logo) {
    display: block;

    @include e(img-wrap) {
      line-height: normal;
      margin-bottom: 20px;
      width: 125px;
      display: block;

      svg {
        width: 100%;
      }

      @include mq-habitant(tablet) {
        width: 159px;
      }
      @include mq-habitant(mobile) {
        margin-bottom: 20px;
      }
      polygon, path {
        fill: white;
      }
    }
  }

  @include e(claim) {
    opacity: 0.6;
    font-family: $font-family-secondary;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    // text-transform: uppercase;
    @include mq-habitant(mobile) {
      margin-bottom: 64px;
      max-width: 290px;
    }
  }

  @include e(legal) {
    a {
      opacity: 0.6;
      font-size: 12px;
      color: white;
      letter-spacing: 1px;
      text-align: right;
      line-height: 21px;

      @include mq-habitant(mobile) {
        font-size: 10px;
      }

      &:hover {
        color: $color-primary;
        opacity: 1;
      }
    }
  }

  @include e(social) {
    margin-top: 0;
    margin-bottom: 0;

    @include mq-habitant(mobile) {
      margin-top: 45px;
      margin-bottom: 45px;
      position: absolute;
      top: -47px;
      right: 10px;
    }

    li {
      display: inline-block;

      margin-right: 0;
      margin-left: 18px;

      @include mq-habitant(mobile) {
        margin-right: 18px;
        margin-left: 0;
      }

      a {
        color: $white;

        &:hover {
          color: $color-primary;
          opacity: 1;
        }
      }

      i {
        font-size: 22px;
      }
    }
  }

  @include e(copy) {
    opacity: 0.6;
    font-family: $font-family-secondary;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    text-align: right;
    line-height: 28px;
    text-transform: uppercase;
  }

  @include e(container) {
    border-bottom: 1px solid rgba(#979797, 0.2);
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  @include e(logos) {
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(flex-start);

    > * {
      width: 40%;

      &:first-child {
        margin-right: 35px;
      }
    }

    @include mq-habitant(mobile) {
      @include flex-wrap(wrap);

      > * {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    @include mq-habitant(tablet) {
      @include flex-wrap(wrap);

      > * {
        // width: 40%;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .menu {
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
    @include mq-habitant(tablet-mobile) {
      margin-bottom: 62px;
    }
    @include mq-habitant(mobile) {
      margin-bottom: 37px;
    }

    li {
      display: inline-block;
      margin-left: 36px;
      @include mq-habitant(mobile) {
        display: block;
        margin-left: 0;
        margin-bottom: 18px;
      }

      &:first-child {
        margin-left: 0;
      }

      a {
        font-family: $font-family-secondary;
        font-size: 16px;
        color: white;
        line-height: 24px;
        letter-spacing: 0.25px;

        &:hover {
          color: theme-color();
        }
      }
    }
  }
}

