/* =========================
   Header styles
   ========================== */

/* Header */
$mobile-header-height: 70px;
$tablet-header-height: 60px;
$tablet-action-item-size: 100px;
$header-height: 100px;
$logo-margin: 15px;
$logo-height: $header-height - ($logo-margin * 2);

.c-header {
  height: $header-height;
  background-color: $black;
  position: fixed;
  top: 0;
  z-index: 12;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 var(--padding-default);

  @include transition(0.7s, ease-in-out);
  @include transform(translateY(0));

  @include mq(tablet) {
    height: $tablet-header-height !important;
  }

  @include e(container) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }

  @include e(logo) {
    height: $header-height;

    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
    @include flex-direction(row);

    @include mq(tablet) {
      height: ($tablet-header-height - 10) !important;
      margin-top: 3px;
    }

    @include mq(mobile) {
      height: ($tablet-header-height - 10) !important;
      margin-top: 3px;
    }

    & img {
      width: 150px;
    }
  }

  @include e(hamburger) {
    position: fixed;
    right: 30px;
    top: calc((#{$header-height} - #{$hamburger-height}) / 2);
    z-index: 15;
    display: none;

    @include mq(tablet) {
      top: calc((#{$tablet-header-height} - #{$hamburger-height}) / 2);
    }

    @include mq($mq-show-menu-hamburger) {
      display: block;
    }
  }

  @include m(hidden) {
    @include transform(translateY(-$header-height));
    @include transition(0.7s, ease-in-out);
  }
}
