// VIDEO
$color-controls-video: $color-primary;
$color-progress-video: $color-primary;
$color-line-video: $color-primary;

.o-video-player {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;

  @include e(video) {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    -o-object-position: center center;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include e(controls) {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    left: 40px;
    bottom: 15px;
    height: 20px;
    @include flexbox;
    @include align-items(center);

    @include e(icon) {
      position: relative;
      cursor: pointer;
      margin-right: 10px;
      font-size: 18px;
      color: $color-controls-video;
    }
  }

  @include e(progress) {
    background-color: rgba($color-progress-video, 0.7);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    bottom: 20px;
    display: inline-block;
    height: 2px;
    position: absolute;
    right: 40px;
    width: 50%;

    @include e(line) {
        background-color: $color-line-video;
        -webkit-transform-origin: 0 50%;
        height: 4px;
        margin-top: -1px;
        position: relative;
        transform-origin: 0 50%;
        @include transition(transform 1s linear);
        width: 0;
    }
  }
}
