// Paragraphs

:root {
  --o-paragraph-margin-bottom: 48px;
}

@include mq(tablet-wide) {
  :root {
    --o-paragraph-margin-bottom: 48px;
  }
}

@include mq(tablet) {
  :root {
    --o-paragraph-margin-bottom: 48px;
  }
}

.o-paragraph {
  @include font($base-font-size, $font-family-secondary, $color-font-primary, $font-weight-regular, $base-line);
  margin-bottom: var(--o-paragraph-margin-bottom);

  @include m(size-small) {
    font-size: 16px;
    line-height: 24px;
  }

  @include m(size-tiny) {
    font-size: 12px;
    line-height: 12px;
  }

  @include m(color-primary) {
    color: theme-color('primary');
  }

  @include m(color-secondary) {
    color: theme-color('secondary');
  }

  @include m(color-font-secondary) {
    color: $color-font-secondary;
  }

  @include m(color-font-tertiary) {
    color: $color-font-tertiary;
  }

  @include m(light) {
    color: $white;
  }
}
