// Card styles
$selector: 'o-card';
$card-gutter: $grid-space*8;
$card-gutter-half: $grid-space*4;
$card-width: 416px;
$card-width-horizontal: 640px;
$card-width-large: 348px;
$card-width-big: 864px;
$card-color-accent: theme-color('primary-lighten-5');

:root {
  --card-padding-tb: var(--space-md);
  --card-padding-lr: var(--space-lg);
  --card-margin: var(--space-sm);
}

@include mq(tablet-wide) {
  :root {
    --card-padding-tb: var(--space-sm);
    --card-padding-lr: var(--space-md);
    --card-margin: var(--space-xs);
  }
}

.o-card {
  background-color: $white;
  position: relative;
  width: 100%;
  max-width: $card-width;
  height: 540px;
  margin: var(--card-margin);
  padding: var(--card-padding-tb) var(--card-padding-lr);
  border: 0;
  overflow: hidden;
  @include transition();

  &:hover {
    -webkit-box-shadow: 0 3px 10px rgba($color-primary, 0.09), 0 1px 3px rgba($color-primary, 0.06);
    -moz-box-shadow: 0 3px 10px rgba($color-primary, 0.09), 0 1px 3px rgba($color-primary, 0.06);
    box-shadow: 0 3px 10px rgba($color-primary, 0.09), 0 1px 3px rgba($color-primary, 0.06);
    @include transition();

    @include se($selector, 'image') {
      @include transition();
      @include transform(scale(1.05));
    }
  }

  @include mq(tablet) {
    height: 516px;
  }

  @include e(background-image) {
    height: 100%;
    @include position-absolute-full;
  }

  @include e(container) {
    margin-left: -$card-gutter-half;
    margin-right: -$card-gutter-half;

    @include mq(tablet) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @include e(image) {
    @include transition();
  }

  @include e(content) {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(flex-start);
    @include justify-content(flex-end);
    @include transition();

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: -16px;
      bottom: 0;
      left: -16px;
      content: '';
      opacity: 0;
      @include opacity(0);
      @include transition();
    }

    &::before {
      border-top: 1px solid $card-color-accent;
      border-bottom: 1px solid $card-color-accent;
      @include transform(scale(0, 1));
    }

    &::after {
      border-right: 1px solid $card-color-accent;
      border-left: 1px solid $card-color-accent;
      @include transform(scale(1, 0));
    }

    @include e(pretitle) {
      text-transform: uppercase;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: $grid-space*2;
      @include transition();

      @include m(light) {
        color: $card-color-accent;
      }
    }

    @include e(title) {
      position: relative;
      @include transition();
    }

    @include e(copy) {
      @include transition();

      @include m(light) {
        p {
          color: $card-color-accent;
        }
      }
    }

    @include e(cta) {
      margin-top: $grid-space*12;
      width: 100%;
    }
  }

  /* Modifiers */
  @include m(size-large) {
    max-width: $card-width-large;
  }

  @include m(size-big) {
    max-width: $card-width-big;
  }

  @include m(with-border) {
    border: 2px solid $card-color-accent;
  }

  @include m(selected) {
    border: 2px solid $card-color-accent;
  }

  @include m(animation-on) {

    &:hover {
      @include se($selector, 'content') {
        &::before,
        &::after {
          @include transition();
          @include opacity(1);
          @include transform(scale(1));
        }
      }

      @include se($selector, 'content__pretitle') {
        @include transition();
        @include transform(translate3d(0, -50px, 0));
      }

      @include se($selector, 'content__title') {
        @include transition();
        @include transform(translate3d(0, -50px, 0));
      }

      @include se($selector, 'content__copy') {
        @include transition();
        @include transform(translate3d(0, -50px, 0));
      }

      @include se($selector, 'content__cta') {
        @include transition();
        @include transform(translate3d(0, -50px, 0));
      }
    }
  }
}
