// Lists

.o-list {
  position: relative;
  margin-left: 0;
  list-style-type: none;
  width: 100%;
  @include font($base-font-size, $font-family-secondary, $color-font-primary, $font-weight-regular, $base-line);

  & li {
    @include font($base-font-size, $font-family-secondary, $color-font-primary, $font-weight-regular, $base-line);
  }

  @include m(type-disc) {
    list-style-type: disc;
    padding-left: 20px;

    & li {
      padding-left: 10px;
    }
  }

  @include m(type-number) {
    list-style-type: decimal;
    padding-left: 20px;

    & li {
      padding-left: 10px;
    }
  }

  @include m(size-big) {
    & li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  @include m(color-secondary) {
    & li {
      color: theme-color('secondary');
    }
  }
}
