// Section styles

:root {
  --section-padding-top-bottom: 80px;
  --section-pretitle-margin-bottom: 48px;
  --section-title-margin-bottom: 20px;
}

@include mq(tablet-wide) {
  :root {
    --section-padding-top-bottom: 60px;
    --section-pretitle-margin-bottom: 48px;
    --section-title-margin-bottom: 20px;
  }
}

@include mq(tablet) {
  :root {
    --section-padding-top-bottom: 40px;
    --section-pretitle-margin-bottom: 48px;
    --section-title-margin-bottom: 20px;
  }
}

.o-section {
  background-color: $white;
  position: relative;
  padding: var(--section-padding-top-bottom) var(--padding-default);

  /* Elements */
  @include e(container) {
    height: 100%;
    position: relative;
    z-index: 10;

    @include m(row) {
      width: 100%;
      @include flexbox;
      @include align-items(flex-start);
      @include flex-direction(row);
      @include justify-content(space-around);
    }
  }

  @include e(pretitle) {
    position: relative;
    display: block;
    margin-bottom: var(--section-pretitle-margin-bottom);
  }

  @include e(title) {
    margin-bottom: var(--section-title-margin-bottom);
  }

  @include e(copy) {
    margin-bottom: var(--section-title-margin-bottom);
  }

  @include e(cta) {
    margin-bottom: var(--section-title-margin-bottom);
  }

  @include m(bg-color-primary) {
    background-color: theme-color('primary');
  }

  @include m(bg-dark) {
    background-color: theme-color('secondary');
  }

  @include m(bg-accent) {
    background-color: color('cyan-aqua');
  }

  @include m(bg-lighter) {
    background-color: theme-color('primary-lighten-3');
  }

  @include m(bg-light) {
    background-color: color('lightning-yellow');
  }
}
