// Chip styles
$chip-height: 36px;
$chip-color-primary: theme-color('primary');
$chip-color-primary-hover: theme-color('primary');

.o-chip {
  @include inline-flex();
  @include flex-direction(row);
  @include align-items(center);
  border: 0;
  height: $chip-height;
  position: relative;
  text-align: center;
  padding: 0 ($grid-space*2);
  letter-spacing: -0.1px;
  @include font(14px, $font-family-primary, $chip-color-primary, $font-weight-regular, $chip-height);
  margin: 0 ($grid-space*3) ($grid-space*3) 0;
  cursor: pointer;
  @include transition;

  @include pixel-hover {
    background-color: rgba($color-primary, 0.11);
    color: $chip-color-primary-hover;
  }

  @include pixel-active {
    background-color: rgba($color-primary, 0.16);
  }
}
