@mixin selection($background-color, $color: #fff) {
  ::-moz-selection { /* Code for Firefox */
    background: $background-color;
    color: $color;
  }

  ::selection {
    background: $background-color;
    color: $color;
  }
}

@mixin hop-hover {
  @include mq(mobile-wide, min) {
    &:hover {
      @content;
    }
  }
}

@mixin hop-active {
  @include mq(mobile-wide, min) {
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin hop-hover-full {
  @include mq(mobile-wide, min) {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}
