// Admin

body {
  background-image: url(../images/admin/bg-login.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  color: $white;
}

a {
  color: $white;
}

a:hover,
a:active {
  color: $white;
}

textarea:focus,
input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

*:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#login {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  position: relative;
}

.login form {
  padding: 50px;
  border-radius: 15px;
  background: rgba(#1A1A1A, 0.6);
  margin: 0 10px;

  @include mq(mobile) {
    padding: 20px;
  }
}

.login h1 {
  position: absolute;
  top: 30px;
  left: 30px;
}

.login h1 a {
  background-image: url(../images/admin/logo.svg);
  background-size: 250px;
  background-position: center top;
  background-repeat: no-repeat;
  height: 46px;
  width: 250px;
  margin-bottom: 20px;
}

.login label {
  color: $white;
  line-height: 36px;
}

.login #backtoblog a,
.login #nav a {
  text-decoration: none;
  color: $white;
}

#backtoblog {
  display: none;
}

#login form p.submit #wp-submit {
  background: $color-bg-button;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  letter-spacing: 0.19px;
  min-width: 100px;
  padding: 0 5px;
  border: 0;
  text-shadow: none;
  box-shadow: none;
}

.login form .input,
.login form input[type=checkbox],
.login input[type=text] {
  background: none !important;
}

.login input[type=text],
.login input[type=password],
.login input[type=email] {
  border: 0;
  border-bottom: 1px solid #fff;
  outline: 0;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  color: #fff;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.login input[type=text]::-ms-clear {
  display: none;
}

.login input[type=password]::-ms-clear {
  display: none;
}
.login input[type=email]::-ms-clear {
  display: none;
}

input:not([type]):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
textarea:focus:not([readonly]) {
  border-bottom: 1px solid $white !important;
}

.login form .input:-webkit-autofill {
  background-color: transparent !important;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: transparent !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px red;
  box-shadow: none;
}

#login form p.submit {
  margin: 20px 0 0;
  padding: 0;
}

.forgetmenot {
  margin-top: 30px;
}

.login #login_error,
.login .message,
.login .success {
  background-color: transparent;
  box-shadow: none;
  text-align: center;
  border: 0;
}
