/* Bootstrap Select */

.bootstrap-select {
    width: 100%;

    select {
        display: none;
    }

    .dropdown-toggle {
        cursor: pointer;
        position: relative;
        border: 0;
        border-bottom: 1px solid $color-form-input-border;
        padding: 0;
        margin: 0 !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        height: $input-height;
        width: 100%;
        background: transparent;
        -webkit-appearance: none;
        border-radius: 0;
        text-align: left;

        @include font(16px, $font-family-secondary, $white, $font-weight-regular, 22px);

        .filter-option-inner {
            height: $input-height;

            .filter-option-inner-inner {
                height: $input-height;
                line-height: $input-height;
            }
        }

        &:focus,
        &:active {
            outline: 0 !important;
            box-shadow: none !important;
            border-color: inherit !important;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-top: 4px solid;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            position: absolute;
            right: 10px;
            top: 25px;

            &.active {
                border-top: 4px dashed;
                border-top: 4px solid;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
            }
        }
    }

    div.dropdown-menu {
        border: 0;
        border-radius: 0;
        box-shadow: none !important;
        width: 100%;
        background-color: $white;
        position: absolute;
        top: 100%;
        z-index: 100;
        display: none; // none by default, but block on "open" of the menu
        float: left;
        text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
        list-style: none;
        background-clip: padding-box;
        min-height: 300px;

        &.show {
            display: block;
        }

        &.inner {
            margin-bottom: 0 !important;
            padding-top: 0;
            margin-top: 0 !important;
            top: 0;
        }

        li {
            width: 100%;

            &:first-child.disabled {
                display: none;
            }

            a {
                padding-left: 20px;
                letter-spacing: 0.2px;
                width: 100%;
                display: inline-block;
                cursor: pointer;
                height: $input-height;
                background-color: transparent;
                border-bottom: 1px solid rgba($white, 0.2);

                @include font(14px, $font-family-secondary, $color-primary, $font-weight-bold, $input-height);

                &:hover,
                &:focus,
                &:active,
                &.active {
                    color: $white;
                }

                &.selected {
                    background-color: $white;
                    color: $white;
                }
            }
        }
    }

    .bs-searchbox {
        padding: 4px 0;
        @include border-radius(0);

        input[type="text"] {
            padding: 0 20px;
            border-bottom: 1px solid rgba($color-font-primary, 0.3);

            @include border-radius(0);
        }
    }

    .parsley-errors-list {
        display: none;
    }

    > select {
        &.parsley-error {
            + ul + .dropdown-toggle {
                border-bottom: 1px solid $color-error;
                color: $color-error;
                font-weight: $font-weight-medium;
            }
        }
    }
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: $white !important;
}
