// Font colors
@include add-color(--font-color-primary, var(--color-dark), false);
@include add-color(--font-color-secondary, var(--color-white), false);

:root {
  // Font variables
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  --font-size-base: var(--font-base);
  --font-line-height-base: 1.5;
  --font-weight-base: var(--font-weight-regular);

  // Font sizes
  --font-xxs: 1rem;
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-base: 1.6rem;
  --font-md: 1.8rem;
  --font-lg: 2rem;
  --font-xl: 2.4rem;
  --font-xxl: 3rem;
  --font-xxxl: 3.6rem;
  --font-xxxxl: 4.8rem;
  --font-xxxxxl: 6rem;
  --font-xxxxxxl: 7.2rem;

  // Font weights
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: normal;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: bold;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}
