.u-text {

  @include m(display1) {
    font-size: 92px;
    line-height: 92px;
    font-weight: var(--font-weight-bold);
  }
  @include m(display2) {
    font-size: 72px;
    line-height: 72px;
    font-weight: var(--font-weight-bold);
  }
  @include m(display3) {
    font-size: 60px;
    line-height: 60px;
    font-weight: var(--font-weight-black);
  }
  @include m(display4) {
    font-size: 60px;
    line-height: 60px;
    font-weight: var(--font-weight-bold);
  }
}
